body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.name {
  margin-top: 0;
  font-size: 99px;
  padding: 138px 0 0;
  /* font-family: 'Baloo Bhai 2', cursive; */
  font-family: 'Beth Ellen', cursive;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Sacramento', cursive;
  color: #472D2D;
  /* margin: 0 auto 0 auto; */
}

.programmer {
  font-size: 39px;
    color: #472D2D;
    font-family: 'Baloo Bhai 2', cursive;
    margin-top: 1px;

}

.mountain {
  position: absolute;
  bottom: 5px;
  height: 407px;
  right: 443px;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #472D2D;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.top-container {
  background-color: #A7D2CB;
  height: 756px;
  width: 100%;
  border-radius: 40px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #7FBCD2;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #472D2D;
  font-size: .75rem;
  padding: 20px 0;
}

.profile-img {
  width: 9%;
  border-radius: 70px;
}

.top-cloud {
  position: absolute;
  height: 100px;
  width: 300px;
  /* left: 1100; */
  top: 61px;
  left: 1128px;
}

.bottom-cloud {
  position: absolute;
  left: 50px;
  top: 387px;
  height: 89px;
  width: 300px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #472D2D;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #472D2D, #472D2D);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
